DATABASE_URL="postgres://USER:PASSWORD@HOST:5432/postgres?sslmode=require"
DIRECT_URL="postgres://USER:PASSWORD@HOST:5432/postgres?sslmode=require"
PORT=4100
HOST=127.0.0.1
WEB_ORIGIN=http://localhost:3200
API_PUBLIC_URL=http://localhost:4100
AUTH_URL=http://localhost:4100/authjs
AUTH_SECRET=""
JWT_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_PROXY_URL=http://localhost:4100/authjs
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
RAJAONGKIR_BASE_URL=https://rajaongkir.komerce.id/api/v1
RAJAONGKIR_API_KEY=""
RAJAONGKIR_ORIGIN_ID=""
RAJAONGKIR_DEFAULT_COURIER=jne:jnt:sicepat
RAJAONGKIR_DEFAULT_WEIGHT_GRAM=1000
RESEND_API_KEY=""
XENDIT_SECRET_KEY=""
XENDIT_CALLBACK_TOKEN=""
XENDIT_BASE_URL=https://api.xendit.co
